{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Black &amp; White</title>

  <!-- meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css -->
  <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">

  <!-- js -->
  <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
  <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'blog/js/pace.min.js' %}"></script>
  <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
</head>

<body>
<div class="container">
  <header id="site-header">
    <div class="row">
      <div class="col-md-4 col-sm-5 col-xs-8">
        <div class="logo">
          <h1><a href="index.html"><b>Black</b> &amp; White</a></h1>
        </div>
      </div><!-- col-md-4 -->
      <div class="col-md-8 col-sm-7 col-xs-4">
        <nav class="main-nav" role="navigation">
          <div class="navbar-header">
            <button type="button" id="trigger-overlay" class="navbar-toggle">
              <span class="ion-navicon"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
               <li class="cl-effect-11"><a href="index.html" data-hover="Home">Home</a></li>
               <li class="cl-effect-11"><a href="full-width.html" data-hover="blog">blog</a></li>
               <li class="cl-effect-11"><a href="about.html" data-hover="About">About</a></li>
               <li class="cl-effect-11"><a href="contact.html" data-hover="Contact">Contact</a></li>
             </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
        <div id="header-search-box">
           <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
           <div id="search-form" class="search-form">
             <form role="search" method="get" id="searchform" action="#">
               <input type="search" placeholder="Search" required>
               <button type="submit"><span class="ion-ios-search-strong"></span></button>
             </form>
           </div>
         </div>
       </div><!-- col-md-8 -->
     </div>
   </header>
</div>
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">page template</a></div>
<div class="copyrights">Modified by <a href="http://zmrenwu.com/">Blog of Dreaming People</a></div>

<div class="content-body">
  <div class="container">
    <div class="row">
      <main class="col-md-8">
        {% for post in post_list %}
          <article class="post post-{{ post.pk }}">
            <header class="entry-header">
              <h1 class="entry-title">
                <a href="single.html">{{ post.title }}</a>
              </h1>
              <div class="entry-meta">
                <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                <span class="post-date">
                  <a href="#">
                    <time class="entry-date" 
                    datetime="{{ post.created_time }}">{{ post.created_time }}</time>
                  </a>
                </span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
                <span class="comments-link"><a href="#">4 comments</a></span>
                <span class="views-count"><a href="#">588 Reading</a></span>
              </div>
            </header>
            <div class="entry-content clearfix">
              <p>{{ post.excerpt }}</p>
              <div class="read-more cl-effect-14">
                <a href="#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
              </div>
            </div>
          </article>
        {% empty %}
          <div class="no-post">No articles have been published yet! </div>
        {% endfor %}
       <!-- Simple paging effect
         <div class="pagination-simple">
             <a href="#">Previous page</a>
             <span class="current">Page 6 of 11 pages</span>
             <a href="#">Next page</a>
         </div>
         -->
        <div class="pagination">
          <ul>
            <li><a href="">1</a></li>
            <li><a href="">...</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li class="current"><a href="">6</a></li>
            <li><a href="">7</a></li>
            <li><a href="">8</a></li>
            <li><a href="">...</a></li>
            <li><a href="">11</a></li>
          </ul>
        </div>
      </main>

      <!-- Aside -->
      <aside class="col-md-4">
        <div class="widget widget-recent-posts">
          <h3 class="widget-title">Latest article</h3>
          <ul>
            <li>
              <a href="#">Introduction to Django Blog Development Tutorial: Foreword</a>
            </li>
            <li>
              <a href="#">The Django blog uses Markdown to automatically generate article directories</a>
            </li>
            <li>
              <a href="#">Deploy Django blog</a>
            </li>
          </ul>
        </div>
        <div class="widget widget-archives">
          <h3 class="widget-title">Archive</h3>
          <ul>
            <li>
              <a href="#">May 2017</a>
            </li>
            <li>
              <a href="#">April 2017</a>
            </li>
            <li>
              <a href="#">March 2017</a>
            </li>
          </ul>
        </div>

        <div class="widget widget-category">
          <h3 class="widget-title">Classification</h3>
          <ul>
            <li>
              <a href="#">Django blog tutorial <span class="post-count">(13)</span></a>
            </li>
            <li>
              <a href="#">Python tutorial <span class="post-count">(11)</span></a>
            </li>
            <li>
              <a href="#">Django user authentication <span class="post-count">(8)</span></a>
            </li>
          </ul>
        </div>

        <div class="widget widget-tag-cloud">
           <h3 class="widget-title">Tag cloud</h3>
           <ul>
             <li>
               <a href="#">Django</a>
             </li>
             <li>
               <a href="#">Python</a>
             </li>
             <li>
               <a href="#">Java</a>
             </li>
             <li>
               <a href="#">Notes</a>
             </li>
             <li>
               <a href="#">Documents</a>
             </li>
             <li>
               <a href="#">AngularJS</a>
             </li>
             <li>
               <a href="#">CSS</a>
             </li>
             <li>
               <a href="#">JavaScript</a>
             </li>
             <li>
               <a href="#">Snippet</a>
             </li>
             <li>
               <a href="#">jQuery</a>
             </li>
           </ul>
        </div>
        <div class="rss">
          <a href=""><span class="ion-social-rss-outline"></span> RSS subscription</a>
        </div>
      </aside>

    </div>
  </div>
</div>

<!-- Footer -->
<footer id="site-footer">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <p class="copyright">&copy 2017-collected from 
          <a href="http://www.cssmoban.com/" target="_blank" title="Template House">Template House</a>
           -Modified by 
           <a href="http://zmrenwu.com/" title="web template" target="_blank">Dreams of Dreamcatchers</a>
         </p>
       </div>
     </div>
   </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
  <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
  <nav>
    <ul>
       <li><a href="index.html">Home</a></li>
       <li><a href="full-width.html">Blog</a></li>
       <li><a href="about.html">About</a></li>
       <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</div>

<script src="{% static 'blog/js/script.js' %}"></script>

</body>
</html>
